decorator==4.0.10
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.8.5
django-crispy-forms==1.6.1
django-registration-redux==1.4
django-toolbelt==0.0.1
ez-setup==0.9
gunicorn==19.6.0
imageio==2.0.1
moviepy==0.2.2.11
music21==3.1.0
numpy==1.11.3
pbr==1.10.0
Pillow==3.4.2
psycopg2==2.6.2
scikits.audiolab==0.11.0
scipy==0.18.1
six==1.10.0
South==1.0.2
static3==0.7.0
stevedore==1.18.0
tqdm==4.10.0
unity-lens-photos==1.0
unroll==0.1.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
whitenoise==3.2.1
