{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block css %}
        {{ block.super }}
        <style>body {padding-top:100px}</style>
    {% endblock %}

    {% block content%}
        {% include "navbar.html" %}

        {% if validlink %}
            <div class='row'>
                <div class='col-sm-6 col-sm-offset-3'>
                    <form method="post" action=".">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class='btn btn-primary' type="submit" value="{% trans 'Submit' %}" />
                    </form>
                </div>
            </div>
        {% else %}
        <div class="jumbotron">
            <div class="container theme-showcase" role="main">
                <div class="starter-template">
                    <h1>{% trans "Password reset failed" %}</h1>
                    <div class='row'>
                        <div class='lead col-sm-6 col-sm-offset-3'>
                            <p>{% trans "Try link again, or contact us at sitehelp@site.com" %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    {% endblock %}

