{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block css %}
        {{ block.super }}
        <style>body {padding-top:100px}</style>
    {% endblock %}

    {% block content%}
        {% include "navbar.html" %}
                <div class="container theme-showcase" role="main">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <p class='lead text-align-center'>{% trans "Email with password reset instructions has been sent." %}</p>
                        </div>
                    </div>
                </div>
    {% endblock %}