{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block css %}
        {{ block.super }}
        <style>body {padding-top:100px}</style>
    {% endblock %}

    {% block content%}
        {% include "navbar.html" %}

            <div class='row'>
                <div class='lead col-sm-6 col-sm-offset-3 text-align-center'>
                    <p>{% trans "Password reset successfully" %}</p>
                    <p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
                </div>
            </div>
{% endblock %}