{% extends 'dsx/base.html' %}
{% load crispy_forms_tags %}

    {% block css %}
        {{ block.super }}
        <!--<style></style>-->
    {% endblock %}
    {% block title %}Contact Us{% endblock %}

    {% block content %}
        {{ block.super }}

        <div class="container theme-showcase" role="main">
            {% for message in messages %}
                {% if message.tags %}
                    {{ message }}
                {% endif %}
            {% endfor %}

            {% if form_data %}
                {{ form_data.first_name }}
                {{ form_data.last_name }}
                {{ form_data.email}}
                {{ form_data.message }}
            {% endif %}

            <h1>Contact Page; user: {{ user }} {{ user.email }}</h1>

            <form method="post"> {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="ContactForm">Submit</button>
            </form>
    </div>

    {% endblock %}

    {% block nav_active %}contact{% endblock %}