{% extends 'dsx/base.html' %}
{% load crispy_forms_tags %}

    {% block css %}
        {{ block.super }}
        <!--<style></style>-->
    {% endblock %}
    {% block title %}Home{% endblock %}

    {% block content %}
        {{ block.super }}
        {% for message in messages %}
            {% if message.tags %}
                {{ message }}
            {% endif %}
        {% endfor %}

        <div class="container theme-showcase" role="main">
            <div class="starter-template">
                <h1>Home Page dsx template; user: {{ user }} {{ user.email }}</h1>

                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <form method="post"> {% csrf_token %}
                            {{ form|crispy }}
                            <button class='btn btn-primary' type="submit" name="PersonForm">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block nav_active %}home{% endblock %}
