{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Style Guide {% endblock %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Lato|Maven+Pro|Open+Sans|Ubuntu|Work+Sans|Roboto" rel="stylesheet">

<style>
    body {
        margin-top: 50px;
        margin-right: 300px;
        margin-bottom: 100px;
        margin-left: 300px;
        }


    .WorkSans {
            font-family: 'Work Sans', sans-serif;
        }
    .UbuntuFont {
            font-family: 'Ubuntu', sans-serif;
        }
    .MavenProFont {
            font-family: 'Maven Pro', sans-serif;
        }
    .LatoFont {
           font-family: 'Lato', san-serif;
       }
    .OpenSansFont {
            font-family: 'Open Sans', san-serif;
        }
    .RobotoFont {
            font-family: 'Roboto', san-serif;
        }
    .colorheight {
             height: 50px;
        }
     .primarycolorheight {
             height: 100px;
        }


</style>
{% endblock %}

{% block content %}
<section>
    <div id="fonts" class="row">
        <div>
            <div class="lead">
                FONTS
            </div>
        </div>
        <div class="WorkSans"><b>Work Sans</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt justo tempus enim lacinia viverra. In cursus nibh non leo convallis, ac molestie ante rutrum. Phasellus convallis et purus a porta. Duis pretium pulvinar orci, quis tempus erat imperdiet sed. Aenean accumsan sed mauris sit amet suscipit. Sed et dapibus ante. Pellentesque fringilla, sem vitae tempor fringilla, massa nisl accumsan mi, vitae dapibus lorem dui sed mi. Vivamus ac justo blandit, luctus orci sed, posuere ipsum. Vivamus tempus sollicitudin ipsum nec facilisis. Proin id orci euismod, placerat metus ut, malesuada lectus. Vivamus tellus risus, finibus nec ultricies eget, malesuada a augue. </div>
        <br>
        <div class="UbuntuFont"><b>Ubuntu</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt justo tempus enim lacinia viverra. In cursus nibh non leo convallis, ac molestie ante rutrum. Phasellus convallis et purus a porta. Duis pretium pulvinar orci, quis tempus erat imperdiet sed. Aenean accumsan sed mauris sit amet suscipit. Sed et dapibus ante. Pellentesque fringilla, sem vitae tempor fringilla, massa nisl accumsan mi, vitae dapibus lorem dui sed mi. Vivamus ac justo blandit, luctus orci sed, posuere ipsum. Vivamus tempus sollicitudin ipsum nec facilisis. Proin id orci euismod, placerat metus ut, malesuada lectus. Vivamus tellus risus, finibus nec ultricies eget, malesuada a augue. </div>
        <br>
        <div class="MavenProFont"><b>Maven Pro</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt justo tempus enim lacinia viverra. In cursus nibh non leo convallis, ac molestie ante rutrum. Phasellus convallis et purus a porta. Duis pretium pulvinar orci, quis tempus erat imperdiet sed. Aenean accumsan sed mauris sit amet suscipit. Sed et dapibus ante. Pellentesque fringilla, sem vitae tempor fringilla, massa nisl accumsan mi, vitae dapibus lorem dui sed mi. Vivamus ac justo blandit, luctus orci sed, posuere ipsum. Vivamus tempus sollicitudin ipsum nec facilisis. Proin id orci euismod, placerat metus ut, malesuada lectus. Vivamus tellus risus, finibus nec ultricies eget, malesuada a augue. </div>
        <br>
        <div class="LatoFont"><b>Lato</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt justo tempus enim lacinia viverra. In cursus nibh non leo convallis, ac molestie ante rutrum. Phasellus convallis et purus a porta. Duis pretium pulvinar orci, quis tempus erat imperdiet sed. Aenean accumsan sed mauris sit amet suscipit. Sed et dapibus ante. Pellentesque fringilla, sem vitae tempor fringilla, massa nisl accumsan mi, vitae dapibus lorem dui sed mi. Vivamus ac justo blandit, luctus orci sed, posuere ipsum. Vivamus tempus sollicitudin ipsum nec facilisis. Proin id orci euismod, placerat metus ut, malesuada lectus. Vivamus tellus risus, finibus nec ultricies eget, malesuada a augue. </div>
        <br>
        <div class="OpenSansFont"><b>Open Sans</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt justo tempus enim lacinia viverra. In cursus nibh non leo convallis, ac molestie ante rutrum. Phasellus convallis et purus a porta. Duis pretium pulvinar orci, quis tempus erat imperdiet sed. Aenean accumsan sed mauris sit amet suscipit. Sed et dapibus ante. Pellentesque fringilla, sem vitae tempor fringilla, massa nisl accumsan mi, vitae dapibus lorem dui sed mi. Vivamus ac justo blandit, luctus orci sed, posuere ipsum. Vivamus tempus sollicitudin ipsum nec facilisis. Proin id orci euismod, placerat metus ut, malesuada lectus. Vivamus tellus risus, finibus nec ultricies eget, malesuada a augue. </div>
        <br>
        <div class="RobotoFont"><b>Roboto</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt justo tempus enim lacinia viverra. In cursus nibh non leo convallis, ac molestie ante rutrum. Phasellus convallis et purus a porta. Duis pretium pulvinar orci, quis tempus erat imperdiet sed. Aenean accumsan sed mauris sit amet suscipit. Sed et dapibus ante. Pellentesque fringilla, sem vitae tempor fringilla, massa nisl accumsan mi, vitae dapibus lorem dui sed mi. Vivamus ac justo blandit, luctus orci sed, posuere ipsum. Vivamus tempus sollicitudin ipsum nec facilisis. Proin id orci euismod, placerat metus ut, malesuada lectus. Vivamus tellus risus, finibus nec ultricies eget, malesuada a augue. </div>
    </div>
</section>

<section>
    <div class="row" style="margin-top: 30px;">
        <div class="lead">
                    Colors
        </div>
        <div class="row">
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #03a9f4;">Light Blue #03A9F4</div>
                <div class="col-xs-12 colorheight" style="background-color: #e1f5fe;">#e1f5fe</div>
                <div class="col-xs-12 colorheight" style="background-color: #b3e5fc;">#b3e5fc</div>
                <div class="col-xs-12 colorheight" style="background-color: #81d4fa;">#81d4fa</div>
                <div class="col-xs-12 colorheight" style="background-color: #4fc3f7;">#4fc3f7</div>
                <div class="col-xs-12 colorheight" style="background-color: #29b6f6;">#29b6f6</div>
                <div class="col-xs-12 colorheight" style="background-color: #03a9f4;">#03a9f4</div>
                <div class="col-xs-12 colorheight" style="background-color: #039be5;">#039be5</div>
                <div class="col-xs-12 colorheight" style="background-color: #0288d1;">#0288d1</div>
                <div class="col-xs-12 colorheight" style="background-color: #0277bd;">#0277bd</div>
                <div class="col-xs-12 colorheight" style="background-color: #01579b;">#01579b</div>
                <div class="col-xs-12 colorheight" style="margin-top: 10px; background-color: #80d8ff;">#80d8ff</div>
                <div class="col-xs-12 colorheight" style="background-color: #40c4ff;">#40c4ff</div>
                <div class="col-xs-12 colorheight" style="background-color: #00b0ff;">#00b0ff</div>
                <div class="col-xs-12 colorheight" style="background-color: #0091ea;">#0091ea</div>
            </div>
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #2196f3;">Blue #2196f3</div>
                <div class="col-xs-12 colorheight" style="background-color: #e3f2fd;">#e3f2fd;</div>
                <div class="col-xs-12 colorheight" style="background-color: #bbdefb;">#bbdefb</div>
                <div class="col-xs-12 colorheight" style="background-color: #90caf9;">#90caf9</div>
                <div class="col-xs-12 colorheight" style="background-color: #64b5f6;">#64b5f6</div>
                <div class="col-xs-12 colorheight" style="background-color: #42a5f5;">#42a5f5</div>
                <div class="col-xs-12 colorheight" style="background-color: #2196f3;">#2196f3</div>
                <div class="col-xs-12 colorheight" style="background-color: #1e88e5;">#1e88e5</div>
                <div class="col-xs-12 colorheight" style="background-color: #1976d2;">#1976d2</div>
                <div class="col-xs-12 colorheight" style="background-color: #1565c0;">#1565c0</div>
                <div class="col-xs-12 colorheight" style="background-color: #0d47a1;">#0d47a1</div>
                <div class="col-xs-12 colorheight" style="margin-top: 10px; background-color: #82b1ff;">#82b1ff</div>
                <div class="col-xs-12 colorheight" style="background-color: #448aff;">#448aff</div>
                <div class="col-xs-12 colorheight" style="background-color: #2979ff;">#2979ff</div>
                <div class="col-xs-12 colorheight" style="background-color: #2962ff;">#2962ff</div>
            </div>
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #3f51b5;">Indigo #3f51b5</div>
                <div class="col-xs-12 colorheight" style="background-color: #e8eaf6;">#e8eaf6</div>
                <div class="col-xs-12 colorheight" style="background-color: #c5cae9;">#c5cae9</div>
                <div class="col-xs-12 colorheight" style="background-color: #9fa8da;">#9fa8da</div>
                <div class="col-xs-12 colorheight" style="background-color: #7986cb;">#7986cb</div>
                <div class="col-xs-12 colorheight" style="background-color: #5c6bc0;">#5c6bc0</div>
                <div class="col-xs-12 colorheight" style="background-color: #3f51b5;">#3f51b5</div>
                <div class="col-xs-12 colorheight" style="background-color: #3949ab;">#3949ab</div>
                <div class="col-xs-12 colorheight" style="background-color: #303f9f;">#303f9f</div>
                <div class="col-xs-12 colorheight" style="background-color: #283593;">#283593</div>
                <div class="col-xs-12 colorheight" style="background-color: #1a237e;">#1a237e</div>
                <div class="col-xs-12 colorheight" style="margin-top: 10px; background-color: #8c9eff;">#8c9eff</div>
                <div class="col-xs-12 colorheight" style="background-color: #536dfe;">#536dfe</div>
                <div class="col-xs-12 colorheight" style="background-color: #3d5afe;">#3d5afe</div>
                <div class="col-xs-12 colorheight" style="background-color: #304ffe;">#304ffe</div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #e91e63;">Pink #e91e63</div>
                <div class="col-xs-12 colorheight" style="background-color: #fce4ec;">#fce4ec</div>
                <div class="col-xs-12 colorheight" style="background-color: #f8bbd0;">#f8bbd0</div>
                <div class="col-xs-12 colorheight" style="background-color: #f48fb1;">#f48fb1</div>
                <div class="col-xs-12 colorheight" style="background-color: #f06292;">#f06292</div>
                <div class="col-xs-12 colorheight" style="background-color: #ec407a;">#ec407a</div>
                <div class="col-xs-12 colorheight" style="background-color: #e91e63;">#e91e63</div>
                <div class="col-xs-12 colorheight" style="background-color: #d81b60;">#d81b60</div>
                <div class="col-xs-12 colorheight" style="background-color: #c2185b;">#c2185b</div>
                <div class="col-xs-12 colorheight" style="background-color: #ad1457;">#ad1457</div>
                <div class="col-xs-12 colorheight" style="background-color: #880e4f;">#880e4f</div>
                <div class="col-xs-12 colorheight" style="margin-top: 10px; background-color: #ff80ab;">#ff80ab</div>
                <div class="col-xs-12 colorheight" style="background-color: #ff4081;">#ff4081</div>
                <div class="col-xs-12 colorheight" style="background-color: #f50057;">#f50057</div>
                <div class="col-xs-12 colorheight" style="background-color: #f50057;">#f50057</div>
            </div>
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #9c27b0;">Purple #9c27b0</div>
                <div class="col-xs-12 colorheight" style="background-color: #f3e5f5;">#f3e5f5</div>
                <div class="col-xs-12 colorheight" style="background-color: #e1bee7;">#e1bee7</div>
                <div class="col-xs-12 colorheight" style="background-color: #ce93d8;">#ce93d8</div>
                <div class="col-xs-12 colorheight" style="background-color: #ba68c8;">#ba68c8</div>
                <div class="col-xs-12 colorheight" style="background-color: #ab47bc;">#ab47bc</div>
                <div class="col-xs-12 colorheight" style="background-color: #9c27b0;">#9c27b0</div>
                <div class="col-xs-12 colorheight" style="background-color: #8e24aa;">#8e24aa</div>
                <div class="col-xs-12 colorheight" style="background-color: #7b1fa2;">#7b1fa2</div>
                <div class="col-xs-12 colorheight" style="background-color: #6a1b9a;">#6a1b9a</div>
                <div class="col-xs-12 colorheight" style="background-color: #4a148c;">#4a148c</div>
                <div class="col-xs-12 colorheight" style="margin-top: 10px; background-color: #ea80fc;">#ea80fc</div>
                <div class="col-xs-12 colorheight" style="background-color: #e040fb;">#e040fb</div>
                <div class="col-xs-12 colorheight" style="background-color: #d500f9;">#d500f9</div>
                <div class="col-xs-12 colorheight" style="background-color: #aa00ff;">#aa00ff</div>
            </div>
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #673ab7;">Deep Purple #673ab7</div>
                <div class="col-xs-12 colorheight" style="background-color: #ede7f6;">#ede7f6</div>
                <div class="col-xs-12 colorheight" style="background-color: #d1c4e9;">#d1c4e9</div>
                <div class="col-xs-12 colorheight" style="background-color: #b39ddb;">#b39ddb</div>
                <div class="col-xs-12 colorheight" style="background-color: #9575cd;">#9575cd</div>
                <div class="col-xs-12 colorheight" style="background-color: #7e57c2;">#7e57c2</div>
                <div class="col-xs-12 colorheight" style="background-color: #673ab7;">#673ab7</div>
                <div class="col-xs-12 colorheight" style="background-color: #5e35b1;">#5e35b1</div>
                <div class="col-xs-12 colorheight" style="background-color: #512da8;">#512da8</div>
                <div class="col-xs-12 colorheight" style="background-color: #4527a0;">#4527a0</div>
                <div class="col-xs-12 colorheight" style="background-color: #311b92;">#311b92</div>
                <div class="col-xs-12 colorheight" style="margin-top: 10px; background-color: #b388ff;">#b388ff</div>
                <div class="col-xs-12 colorheight" style="background-color: #7c4dff;">#7c4dff</div>
                <div class="col-xs-12 colorheight" style="background-color: #651fff;">#651fff</div>
                <div class="col-xs-12 colorheight" style="background-color: #6200ea;">#6200ea</div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #ffc107;">Amber #ffc107</div>
                <div class="col-xs-12 colorheight" style="background-color: #fff8e1;">#fff8e1</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffecb3;">#ffecb3</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffe082;">#ffe082</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffd54f;">#ffd54f</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffca28;">#ffca28</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffc107;">#ffc107</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffb300;">#ffb300</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffa000;">#ffa000</div>
                <div class="col-xs-12 colorheight" style="background-color: #ff8f00;">#ff8f00</div>
                <div class="col-xs-12 colorheight" style="background-color: #ff6f00;">#ff6f00</div>
                <div class="col-xs-12 colorheight" style="margin-top: 10px; background-color: #ffe57f;">#ffe57f</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffd740;">#ffd740</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffc400;">#ffc400</div>
                <div class="col-xs-12 colorheight" style="background-color: #ffab00;">#ffab00</div>
            </div>
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #795548;">Brown #795548</div>
                <div class="col-xs-12 colorheight" style="background-color: #efebe9;">#efebe9</div>
                <div class="col-xs-12 colorheight" style="background-color: #d7ccc8;">#d7ccc8</div>
                <div class="col-xs-12 colorheight" style="background-color: #bcaaa4;">#bcaaa4</div>
                <div class="col-xs-12 colorheight" style="background-color: #a1887f;">#a1887f</div>
                <div class="col-xs-12 colorheight" style="background-color: #8d6e63;">#8d6e63</div>
                <div class="col-xs-12 colorheight" style="background-color: #795548;">#795548</div>
                <div class="col-xs-12 colorheight" style="background-color: #6d4c41;">#6d4c41</div>
                <div class="col-xs-12 colorheight" style="background-color: #5d4037;">#5d4037</div>
                <div class="col-xs-12 colorheight" style="background-color: #4e342e;">#4e342e</div>
                <div class="col-xs-12 colorheight" style="background-color: #3e2723;">#3e2723</div>
            </div>
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #9e9e9e;">Grey #9e9e9e</div>
                <div class="col-xs-12 colorheight" style="background-color: #fafafa;">#fafafa</div>
                <div class="col-xs-12 colorheight" style="background-color: #f5f5f5;">#f5f5f5</div>
                <div class="col-xs-12 colorheight" style="background-color: #eeeeee;">#eeeeee</div>
                <div class="col-xs-12 colorheight" style="background-color: #e0e0e0;">#e0e0e0</div>
                <div class="col-xs-12 colorheight" style="background-color: #bdbdbd;">#bdbdbd</div>
                <div class="col-xs-12 colorheight" style="background-color: #9e9e9e;">#9e9e9e</div>
                <div class="col-xs-12 colorheight" style="background-color: #757575;">#757575</div>
                <div class="col-xs-12 colorheight" style="background-color: #616161;">#616161</div>
                <div class="col-xs-12 colorheight" style="background-color: #424242;">#424242</div>
                <div class="col-xs-12 colorheight" style="background-color: #212121;">#212121</div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-xs-4" >
                <div class="col-xs-12 colorheight primarycolorheight" style="background-color: #607d8b;">Blue Grey #607d8b</div>
                <div class="col-xs-12 colorheight" style="background-color: #eceff1;">#eceff1</div>
                <div class="col-xs-12 colorheight" style="background-color: #cfd8dc;">#cfd8dc</div>
                <div class="col-xs-12 colorheight" style="background-color: #b0bec5;">#b0bec5</div>
                <div class="col-xs-12 colorheight" style="background-color: #90a4ae;">#90a4ae</div>
                <div class="col-xs-12 colorheight" style="background-color: #78909c;">#78909c</div>
                <div class="col-xs-12 colorheight" style="background-color: #607d8b;">#607d8b</div>
                <div class="col-xs-12 colorheight" style="background-color: #546e7a;">#546e7a</div>
                <div class="col-xs-12 colorheight" style="background-color: #455a64;">#455a64</div>
                <div class="col-xs-12 colorheight" style="background-color: #37474f;">#37474f</div>
                <div class="col-xs-12 colorheight" style="background-color: #263238;">#263238</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


