
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="nav_home" class="navbar-brand" href="{% url 'dsx:Home' %}">Newjack</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            {% if request.user.is_authenticated %}
            <li id="nav_uhome"><a href="{% url 'u:Home' %}">{{ request.user }}</a></li>
            <li id="nav_newsong"><a href="{% url 'u:USongNew' %}">New Song</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'u:Home' %}">Media</a></li>
                <li><a href="{% url 'u:Home' %}">Profile</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Resources</li>
                <li><a href="{% url 'dsx:Home' %}">Get Started</a></li>
                <li><a href="{% url 'dsx:About' %}">About</a></li>
                <li><a href="{% url 'dsx:Contact' %}">Contact</a></li>
              </ul>
            </li>
            {% endif %}


            {% if not request.user.is_authenticated %}
              <li id="nav_getstarted"><a href="{% url 'dsx:Home' %}">Get Started</a></li>
              <li id="nav_about"><a href="{% url 'dsx:About' %}">About</a></li>
              <li id="nav_contact"><a href="{% url 'dsx:Contact' %}">Contact</a></li>
            {% endif %}

          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
              <li id="nav_login"><a href="{% url 'auth_login' %}">Login</a></li>
              <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
 <!--{% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}{% endif %}-->