{% extends 'u/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load common_forms %}

    {% block css %}
        {{ block.super }}
        <!--<style></style>-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" href="{% static 'css/application.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/contextmenu.css' %}" rel="stylesheet">

    <style>
    .draw2d_InputPort{
        fill:#F7F7F7;
        stroke:#d7d7d7;
    }
    .draw2d_OutputPort{
        fill:#F7F7F7;
        stroke:#d7d7d7;
        }
    </style>
{% endblock %}

    {% block js %}
        {{ block.super }}
        <script type="text/javascript">var jsonDocument = {{ song_json|safe }} </script>
        <script src=" {% static 'js/shifty.js' %}"></script>
        <script src=" {% static 'js/raphael.js' %}"></script>
        <script src=" {% static 'js/jquery.autoresize.js' %}"></script>
        <script src=" {% static 'js/jquery-touch_punch.js' %}"></script>
        <script src=" {% static 'js/jquery.contextmenu.js' %}"></script>
        <script src=" {% static 'js/rgbcolor.js' %}"></script>
        <script src=" {% static 'js/StackBlur.js' %}"></script>
        <script src=" {% static 'js/canvg.js' %}"></script>
        <script src=" {% static 'js/Class.js' %}"></script>
        <script src=" {% static 'js/json2.js' %}"></script>
        <script src=" {% static 'js/pathfinding-browser.min.js' %}"></script>
        <script src=" {% static 'js/draw2d.js' %}"></script>
        <script src=" {% static 'js/jquery.browser.js' %}"></script>
        <script src=" {% static 'js/jquery-ui.custom.min.js' %}"></script>
        <script src=" {% static 'js/Application.js' %}"></script>
        <script src=" {% static 'js/View.js' %}"></script>
        <script src=" {% static 'js/AlgoBaah.js' %}"></script>
        <script src=" {% static 'js/TableShape.js' %}"></script>
        <!--<script src=" {% static 'js/newjack.js' %}"></script>-->
        <script src=" {% static 'js/BetweenFigure.js' %}"></script>
        <script src=" {% static 'js/MyInterceptorPolicy.js' %}"></script>
        <script src=" {% static 'js/CopyInterceptorPolicy.js' %}"></script>


        <script src=" {% static 'js/draw2dheaderjs.js' %}"></script>

    {% endblock %}

    {% block title %}Your HP{% endblock %}
    {% block messages %}
    <a class="btn" onclick="
                $('.alert').click(function () {$(this).parent().remove(); });
                ">
        <div style="position: absolute; top: 0px; z-index: 10000; right: 5%;">
        {% for message in messages %}
            {% if message.tags %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}

                    <div class="alert alert-{{ message.tags }}">{{ message }}{{ message.tag }}</div>


                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </a>
    {% endblock %}

    {% block content %}
        {{ block.super }}

        <div class="" role="main">
            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <lead>Welcome; user: {{ user }}</lead>
                        <lead>{{ song.song_title }}</lead>
                    </div>
                </div>
            </div>
        </div>

           <div id="toolbar" class="navbar-default">

                <form style="float: left;" action="{% url 'u:DeleteSong' song.id %}">
                    <button type="submit" class="gray btn" style="color: #fff; background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%); border-color: #b92c28;">
                        <span class="">Delete Song</span>
                    </button>
               </form>

               <form style="float: left;" action="{% url 'u:SaveSong' %}" method="POST">{% csrf_token %}
                    <button class="gray" onclick="
                        while (document.getElementById('savesongtitle').getAttribute('value') == '')
                            {
                                var songName = prompt('Save Song', document.getElementById('savesongtitle').getAttribute('value'));
                                if (songName)
                                {
                                document.getElementById('savesongtitle').setAttribute('value', songName);
                                }
                            }
                        document.getElementById('savejson').setAttribute('value', document.getElementById('json').innerHTML);
                        document.getElementById('saveseed').setAttribute('value', document.getElementById('useed').getAttribute('value'));
                    ">
                    Save
                    </button>
                    <input id="savejson" type="hidden" value="" name="savejson"/>
                    <input id="savesongtitle" type="hidden" value="{{ song.song_title }}" name="savesongtitle"/>
                    <input id="saveseed" type="hidden" value="{{ song.song_seed }}" name="saveseed"/>
               </form>

               <form style="float: left;" action="{% url 'u:SaveSong' %}" method="POST">{% csrf_token %}
                <button class="gray" onclick="
                var songName = prompt('Save Song', document.getElementById('savenewsongtitle').getAttribute('value'));
                if (songName)
                {
                document.getElementById('savenewsongtitle').setAttribute('value', songName);
                }
                document.getElementById('savenewjson').setAttribute('value', document.getElementById('json').innerHTML);
                document.getElementById('savenewseed').setAttribute('value', document.getElementById('useed').getAttribute('value'));
                    ">SaveNew</button>
                    <input id="savenewjson" type="hidden" value="" name="savejson"/>
                    <input id="savenewsongtitle" type="hidden" value="{{ song.song_title }}" name="savesongtitle"/>
                    <input id="savenewseed" type="hidden" value="{{ song.song_seed }}" name="saveseed"/>
               </form>

               <span class='toolbar_delimiter'>&nbsp;</span>
               <span class='toolbar_delimiter'>&nbsp;</span>
               <span class='toolbar_delimiter'>&nbsp;</span>

               <button id="useed" class="gray" value="{{ song.song_seed }}" onclick="
                var songName = prompt('Enter Seed',document.getElementById('useed').getAttribute('value'));
			    if (songName)
			    {
				    document.getElementById('useed').innerHTML = 'Seed: ' + songName;
				    document.getElementById('useed').setAttribute('value', songName);
				var test = new Date();
			    }">
                   Seed: {{ song.song_seed }}
               </button>

               <button class="gray" onclick="
                document.getElementById('audio').pause();
                var test = new Date();
                var seed = test.getTime()
                document.getElementById('useed').innerHTML = 'Seed: ' + seed;
                document.getElementById('useed').setAttribute('value', seed);
                document.getElementById('audio').setAttribute('src', '');

                ">
                   Randomize
               </button>

               <span class='toolbar_delimiter'>&nbsp;</span>
               <span class='toolbar_delimiter'>&nbsp;</span>
               <span class='toolbar_delimiter'>&nbsp;</span>

               <button class="gray" onclick="
               var date = new Date();
               var time = date.getTime()
               if(document.getElementById('audio').getAttribute('src') == '')
               {
                 document.getElementById('audio').setAttribute('src', '/u/play/{{ song.id }}/' + document.getElementById('useed').getAttribute('value') + '/?pseed=' + time);
                 }
                    document.getElementById('audio').play(); console.log('played');">
                   Play
               </button>

               <button class="gray" onclick="document.getElementById('audio').pause();">Pause</button>

               <button class="gray" onclick="
               document.getElementById('audio').setAttribute('src', '/u/play/{{ song.id }}/' + document.getElementById('useed').getAttribute('value'));
               document.getElementById('audio').play();
                ">
                   Replay
               </button>




           </div>

           <div id="side-nav" >
             <span id="logo">{{ song.song_title }}</span>
             <div id="layer_elements"></div>
             <div id="layer_header" class="highlight panetitle blackgradient">
                 <div data-shape="Branch" data-name="Node" class="palette_node_element draw2d_droppable" title="Drag &amp; Drop">Node</div>

                 {% for song_file in songfiles %}
                          <div data-shape="Wav" data-name="{{ song_file.label }}" data-file="{{ song_file.get_absolute_url }}" class="palette_node_element draw2d_droppable" title="Drag &amp;">
                              {{ song_file.label }}
                          <input id="id_file_field_{{ song_file.id }}" type="hidden" value="{{ song_file.id }}" name="a__c{{ forloop.counter }}__f{{ forloop.counter }}__equal"/>
                          </div>

                {% endfor %}
             </div>
           </div>

           <div id="canvas" >
           </div>
           <pre hidden id="json" style="overflow:auto;position:absolute; top:100px; right:100px; width:600; height:500;background:white;border:1px solid gray"></pre>
           <audio id="audio" preload="none" src=""></audio>


















    {% endblock %}

    {% block nav_active %}{% endblock %}